<div id="fh5co-wrapper">
	<div id="fh5co-page">

		<div class="fh5co-hero" data-section="home">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center">
				<div class="display-t">
					<div class="display-tc">
						<div class="container">
							<div class="col-md-10 col-md-offset-1">
								<div class="animate-box">
									<h1>Chá de Bebê</h1>
									<h2>Leo &amp; Mel</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="/index">Leo & Mel</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active"><a href="/index">Home</a></li>
							<li><a href="our-history">Nossa História</a></li>
							<li><a href="gifts">Lista de Presentes</a></li>
							<li><a href="gallery">Fotos</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<!-- end:header-top -->

		<div id="fh5co-couple" class="fh5co-section-gray">
			<div class="container">

				<div class="row row-bottom-padded-md animate-box row-images ">
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-6 col-sm-4 col-xs-5 nopadding row-images2">
							<img src="images/mario.jpg" class="img-responsive img-circle" alt="">
							<h3>Leo Brein Nachin &nbsp </h3>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-5 nopadding row-images2">
							<h2 class="amp-center"><i class="icon-heart"></i></h2>
						</div>
						<div class="col-md-6 col-sm-4 col-xs-5 nopadding row-images2">
							<img src="images/peach.jpg" class="img-responsive img-circle" alt="">
							<h3>Mel Brein Nachin</h3>
						</div>

					</div>
				</div>
				<div class="row animate-box row-text">
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-12 text-center heading-section">
							<h2 class="row-text">Vão nascer em breve!</h2>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!-- END fh5co-page -->

</div>
<!-- END fh5co-wrapper -->

<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<!-- jQuery -->
<script src="dist/scripts.min.js"></script>