<div id="fh5co-wrapper">
	<div id="fh5co-page">

		<div class="fh5co-hero" data-section="home">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center">
				<div class="display-t">
					<div class="display-tc">
						<div class="container">
							<div class="col-md-10 col-md-offset-1">
								<div class="animate-box">
									<h1>Leo & Mel</h1>
									<h2>Nossa História</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="/index">Leo & Mel</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a href="/index">Home</a></li>
							<li class="active"><a href="/our-history">Nossa História</a></li>
							<li><a href="/gifts">Lista de Presentes</a></li>
							<li><a href="/gallery">Fotos</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<!-- end:header-top -->


		<div id="fh5co-when-where" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box row-images">
						<h2>Nossa História</h2>
					</div>
				</div>
				<div class="row row-image row-bottom-padded-md2">
					<div class="row row-card-image">
						<div class="col-md-8 text-center animate-box">
							<div class="wedding-events">
								<div class="ceremony-bg" style="background-image: url(images/DSC00301.jpg);"></div>
								<div class="desc">
									<h3>Tathy &amp; Paulo</h3>
									<p><strong>11 de Junho de 2020, Quinta-Feira 16:00 @ Casa Quintal</strong></p>
									<p>Nossa história é bem curiosa, pois a vida toda moramos na mesma rua, separados por pouco mais de
										100 metros de distância, estudamos nas mesmas escolas, mas nossas histórias só foram se cruzar de
										verdade em uma viagem com amigos em comum.</p>
									<p>Os dois sempre moraram no Bom Retiro, o Paulo sempre na rua Três Rios e a Tathy primeiro na rua
										Prates (no mesmo quarteirão que o Paulo) e, depois, também na Três Rios</p>
									<p>A Tathy estudou em outras duas escolas, mas foi parar no colégio Renascença ainda na educação
										infantil. O Paulo passou por algumas escolas e foi parar no mesmo colégio Renascença na 6ª série
										(atual 7º ano). Como temos 11 meses de diferença de idade, enquanto o Paulo estava na 6ª série, a
										Tathy estava na 7ª.</p>
									<p>
										Quando a Tathy chegou na 8ª série foi fazer cursinho para tentar prestar Vestibulinho. Acabou não
										passando e foi estudar em uma escola técnica no centro da cidade. O Curso escolhido foi
										processamento de dados.
									</p>
									<p>No ano seguinte, o Paulo fez exatamente o mesmo percurso. Estudou no mesmo cursinho e foi parar na
										mesma escola técnica. O Curso? – processamento de dados.</p>
									<p>A gente se conhecia de vista, por conta da escola, mas nós nem nos falávamos. Cada um tinha a sua
										turma, não tínhamos ideia do que estava por vir.</p>
									<p>Terminado o curso técnico a Tathy entrou na faculdade de educação artística. Mas como a vida dá
										voltas, no final das contas, passou a trabalhar no mesmo colégio Renascença, como monitora de
										educação infantil e segue na área da educação até hoje.</p>
									<p>O Paulo, por sua vez, terminou a escola técnica e foi prestar vestibular. Ele pretendia seguir na
										área da Informática e tentou por mais de uma vez entrar em universidade pública, a Fatec.</p>
									<p>No final do ano de 2001 a Tathy estava na piscina do clube A Hebraica e encontrou com sua amiga
										Calanit (vale comentar que as duas ficaram amigas por conta da dança folclórica Israelense onde a
										Tathy era conhecida como Tchus). Depois de conversar bastante, ela propôs pra Tchus ir viajar com
										ela, com seu namorado daquela época e um grupo de amigos no mês de janeiro logo depois do réveillon.
										Eles tinham alugado uma casa e precisavam dividir o valor. Como uma pessoa que ia viajar teve um
										imprevisto e não pode mais ir, eles precisavam completar o número de pessoas para pagar um valor
										legal na casa que alugaram e precisavam de mais uma pessoa. E sabem quem também fazia parte deste
										grupo de amigos? Pois é, o Paulo.</p>
									<p>
										Mal começou a viagem e essa amiga já com segundas intenções simplesmente falou para a Tchus que o
										Paulo estava a fim dela e depois virou para o Paulo e falou que a Tchus estava a fim dele. O que
										aconteceu depois disso? Vocês já sabem, né!?
									</p>
									<p>
										O Paulo voltou para São Paulo para se inscrever na faculdade que ele tinha passado e a Tathy ficou alguns dias a mais na praia. 
									</p>
									<p>Começamos a namorar no dia 9 de janeiro de 2002. Quando descobrimos que morávamos na mesma rua... Foi só a Tathy voltar pra São Paulo que não nos largamos mais! A gente se encontrava todos os dias! </p>
									<p>A Tathy trabalhava no período da manhã e fazia faculdade à noite. O Paulo também fazia faculdade à noite, mas como a Fatec é no bom Retiro, na continuação da própria rua Três Rios......</p>
									<p>
										Então todos os dias, o Paulo levava a Tathy até o metrô e os dois iam para a aula. Ah! Só um detalhe... a Tathy já estava no último ano da faculdade e o Paulo, no primeiro! Não, não somos Eduardo e Mônica!
									</p>
									<p>
										Quando a Tathy terminou a Faculdade passou a acompanhar o Paulo até a faculdade, para não perder o hábito de se encontrarem todos os dias. E os finais de semana eram sempre no clube ou saindo com os amigos. 
									</p>
									<p>Depois de um tempo a Tathy acabou parando a dança, por problemas de saúde e porque ia começar a primeira de suas pós-graduações, aos sábados.</p>
									<p>
										A partir daí vivemos muitas coisas importantes. Desde a compra do primeiro celular do Paulo (depois da Tathy insistir bastante), trabalho voluntario juntos, o primeiro carro e várias viagens para a praia...
									</p>
									<p>Com o tempo passamos a planejar viagens maiores e fomos para alguns lugares no Nordeste do Brasil. Fomos também para Israel, Egito, Jordânia, Estados Unidos....</p>
									<p>Nosso amor foi crescendo e em novembro de 2009 ficamos noivos e nos casamos em junho de 2011</p>
									<p>
										No início do nosso casamento pensávamos em esperar um pouco pra ter filhos. Esse tempo precisou ir aumentando, principalmente devido a alguns problemas de saúde da Tathy.
									</p>
									<p>
										Mas enfim chegou o momento e agora estamos aqui compartilhando nossa grande alegria, que veio em dose dupla, com todos vocês.
									</p>
									<p>
										Estamos muito felizes e muito ansiosos com a chegada do Leo e da Mel e no decorrer desses mais de 18 anos juntos e 9 anos de casados, muitos amigos de colégio, cursinho, faculdade e diferentes trabalhos fizeram parte da nossa história. Então, agora não poderia ser diferente! Apesar de não podermos fazer uma grande festa e nos encontrarmos pessoalmente para comemorar a chegada dos nossos filhos, queremos ter pessoas queridas por perto, mesmo que virtualmente e você é uma delas. Por isso planejamos esse chá de bebês virtual! 
									</p>
									<p>
										Obrigada por fazer parte da nossa história! Um grande abraço!!
									</p>
									<p><b>Tathy &amp; Paulo</b></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{!-- <div class="row row-map  row-images">
					<div class="col-md-12 row-images">
						<iframe class="mapa-casa"
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.4437763158935!2d-46.660329312231596!3d-23.552500070246953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce582e026b8657%3A0x9a8009879cba331c!2sCasa%20Quintal!5e0!3m2!1spt-BR!2sbr!4v1579379718461!5m2!1spt-BR!2sbr"
							width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
					</div>
				</div> --}}
			</div>
		</div>






	</div>
	<!-- END fh5co-page -->

</div>
<!-- END fh5co-wrapper -->

<!-- Google Map -->
<!-- jQuery -->
<script src="dist/scripts.min2.js"></script>